.navdiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar a {
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: #ffffff;
}